body{
    background:skyblue;
}

h1 {
    font-size: 10rem;
    color: white;
}

.inputs {
    display: flex;
    width: 90vw;
    height: 10vw;
    margin: 0 auto;
}

.inputs input {
    display: block;
    font-size: 4vw;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
}

.inputs button {
    display: block;
    font-size: 5vw;
    box-sizing: border-box;
    width: 20vw;
    height: 100%;
    padding: 0;
}


